<div class="partial_score">
	<div class="">
		<div class="arrow">
			<%= text_field_tag "arrow_1",'', id: 'arrow_1', class: 'parciales borde', disabled: true %>
		</div>
		<div class="arrow">
			<%= text_field_tag "arrow_2",'', id: 'arrow_2', class: 'parciales borde', disabled: true %>
		</div>
		<div class="arrow">
			<%= text_field_tag "arrow_3",'', id: 'arrow_3', class: 'parciales borde', disabled: true %>
		</div>
		<div class="arrow">
			<%= text_field_tag "partial_1",'0', id: 'partial_1', class: 'suma_parcial borde', disabled: true %>
		</div>
	</div>
	<div class="">
		<div class="arrow">
			<%= text_field_tag "arrow_4",'', id: 'arrow_4', class: 'parciales', disabled: true %>
		</div>
		<div class="arrow">
			<%= text_field_tag "arrow_5",'', id: 'arrow_5', class: 'parciales', disabled: true %>
		</div>
		<div class="arrow">
			<%= text_field_tag "arrow_6",'', id: 'arrow_6', class: 'parciales', disabled: true %>
		</div>
		<div class="arrow">
			<%= text_field_tag "partial_2",'0', id: 'partial_2', class: 'suma_parcial', disabled: true %>
		</div>
	</div>
</div>