<p id="notice"><%= notice %></p>

<h1>Listing Arrows</h1>

<table>
  <thead>
    <tr>
      <th>Score</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @arrows.each do |arrow| %>
      <tr>
        <td><%= arrow.score_id %></td>
        <td><%= arrow.value %></td>
        <td><%= link_to 'Show', arrow %></td>
        <td><%= link_to 'Edit', edit_arrow_path(arrow) %></td>
        <td><%= link_to 'Destroy', arrow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Arrow', new_arrow_path %>
